* {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}
.check{
    color: #6F42C1;
}
.checkk{
    color: #6F42C1 !important;
}
.navbar {
    background: #F0ECF9;

}

.pli {
    opacity: 0.6;
}

.container1 {
    background: #F0ECF9;
    border-radius: 0% 0% 40% 0%;
}

.one {
    color: #6F42C1;
    font-size: 45px !important;
}

.btn {
    background: #6F42C1 !important;
    border-radius: 300px 300px 300px 300px !important;
    color: white !important;
    border: none !important;
}
.ap {
    color: #6F42C199;
}
.aap {
    opacity: 0.5;
    color: black;
}
.two {
    color: #6F42C1;
}
.card img{
    background: #E2D9F3 !important;
}
.con{
    background: #F8F5FC;

}
.pa{
    background: #F8F5FC;
}
.three {
    color: #6F42C1 !important;
}
