* {
    font-family: sans-serif;
}

.navbar {
    background: #F0ECF9;

}

.pli {
    opacity: 0.6;
}

.container1 {
    background: #F0ECF9;
    border-radius: 0% 0% 40% 0%;
}

.one {
    color: #6F42C1;
    font-size: 68px !important;
}

.btn {
    background: #6F42C1 !important;
    border-radius: 300px 300px 300px 300px !important;
    color: white !important;
    border: none !important;
}
.ap {
    color: #6F42C199;
}
.aap {
    opacity: 0.5;
}
.two {
    color: #6F42C1;
}
.card img{
    background: #E2D9F3 !important;
}
.son1{
    height: 10% !important;
}